#section1 {
  background-color: #bae3d4;
  /* padding: 250px; */
  width: 100%; 
}
#section1::after {
  content: "";
  display: block;
  clear: both;
}
.finaly_firstbox0 {
  display: flex;
  flex-flow: row;
  padding: 4rem 0rem;
}
.finaly_firstbox {
  width: 55%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin: 0 auto;
}
.txt_box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-image: url(../images/main_box.png);
  height: 608px;
  background-position: 50% center;
  background-size: cover;
}
#section1 .txt {
  padding-top: 5rem;
}
#section1 .txt h4 {
  font-size: 3.5rem;
  color: #fff;
}
#section1 .txt h3 {
  font-size: 4.8rem;
  font-weight: 900;
  color: #fff;
  padding-top: 150px;
}
#section1 .name {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
}
#section1 .name h2 {
  font-size: 4.3rem;
  color: #fff;
}
#section1 .name h4 {
  font-size: 3.5rem;
  color: #fff;
}

#section2::after {
  content: "";
  display: block;
  clear: both;
}
.sec2_infor_finaly {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 8rem;
}
.sec2_left {
  display: flex;
  flex-flow: column;
}
.sec2_name h1 {
  font-size: 5.5rem;
  color: #333;
}
#section2 .sec2_left .contact {
  margin-top: 9rem;
}
#section2 .sec2_left .contact h2 {
  font-size: 2.5rem;
  color: #ddd;
  font-weight: 800;
  margin-bottom: 20px;
}
.sec2_right {
  padding-top: 12rem;
}
.sec2_right p {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 15px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  color: #95c3b2;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.skill_box_final {
  display: flex;
  flex-flow: row;
  gap: 0.1rem;
}
.skill {
  padding-top: 100px;
}
.skill h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
}
.skill span {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #6ebb9e;
  margin-top: 23px;
  margin-left: 10px;
}
.skill_box {
  margin-top: 3.125rem;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.skill_box p {
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-family: "s-core-dream";
  color: #333;
}
.skill_box div {
  margin-bottom: 35px;
}
.skill_box .none {
  background: #f4f4f5;
  height: 5px;
  margin-bottom: 1rem;
  width: 34.25rem;
}
#section2 .skill_box .none div {
  /* background: rgb(131, 81, 212); */
  background: linear-gradient(to right, #c2f1df, #328d6a);
  height: 5px;
  margin-bottom: 0;
}
#section2 .skill_box #result1 div {
  animation: race-none1 6s ease 1 both;
}
#section2 .skill_box #result2 div {
  animation: race-none2 6s ease 1 both;
}
#section2 .skill_box #result3 div {
  animation: race-none3 6s ease 1 both;
}
#section2 .skill_box #result4 div {
  animation: race-none4 6s ease 1 both;
}
#section2 .skill_box #result5 div {
  animation: race-none5 6s ease 1 both;
}
#section2 .skill_box #result6 div {
  animation: race-none6 6s ease 1 both;
}

@keyframes race-none1 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes race-none2 {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}
@keyframes race-none3 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes race-none4 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes race-none5 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes race-none6 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
/* 메인컨텐츠 웹쪽 */
#section3 {
  margin-top: 9rem;
}
#section3 p {
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 800;
  color: #333;
}
#section3 .btn {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: #69d1aa;
  box-shadow: 5px 5px 5px 1px rgb(0 0 0 / 20%);
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 40px;
  font-weight: 800;
}
#section3 h2 {
  font-size: 3rem;
  color: #333;
  font-weight: 900;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.sunkist h4 {
  font-size: 3.6rem;
  font-weight: 800;
  color: #ddd;
  margin-bottom: 50px;
}
.sunkist {
  margin-top: 110px;
}
.finaly_sunki {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.sunkist_left {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.sunkic_img {
  width: 50%;
}
.sunkic_img img {
  width: 100%;
}
.sunkist_right {
  display: flex;
  flex-flow: column;
}
.sunkist_right img {
  width: 75%;
  margin-top: 80px;
  margin-right: 30px;
}
/* 선키복제 */
.sunkist2 {
  margin-top: 110px;
}
.sunkist2 h4 {
  font-size: 3.6rem;
  font-weight: 800;
  color: #ddd;
  margin-bottom: 50px;
  text-align: right;
}
.finaly_sunki2 {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.sunkist_left2 {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.flex_finalbox_1 {
  display: flex;
  flex-flow: column;
  padding: 6rem;
}
.flex_finalbox_2 {
  display: flex;
  flex-flow: column;
  padding: 6rem;
}
.sunkic_img2 {
  width: 50%;
}
.sunkic_img2 img {
  width: 100%;
}
.sunkist_right2 {
  display: flex;
  flex-flow: column;
}
.sunkist_right2 img {
  width: 75%;
  margin-top: 80px;
  margin-right: 30px;
}
/* 선키복제끝 */
/* 메인컨텐츠 웹쪽 */
#section4 {
  padding-top: 9rem;
}
#section4 h2 {
  font-size: 3rem;
  color: #333;
  font-weight: 900;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.15);
  text-align: center;
}
#section4 .graphic_box {
  margin-top: 70px;
  display: flex;
  flex-flow: wrap;
}

#section4 .graphic_box div img {
  width: 100%;
}
/*#section4 .graphic_box > div 와 같음*/
#section4 .box {
  position: relative;
  overflow: hidden;
  width: calc(100% / 3);
}
#section4 .box .box_hover {
  position: absolute;

  left: 0;
  background-color: rgb(0, 0, 0, 0.75);
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 40% 0;
}
#section4 .box:nth-child(2n-1) .box_hover {
  top: 100%;
  transition: 0.5s 0s;
}
#section4 .box:nth-child(2n-1) :hover .box_hover {
  top: 0;
  transition: 0.5s 0.3s;
}
#section4 .box:nth-child(2n) .box_hover {
  top: -100%;
  transition: 0.5s 0s;
}
#section4 .box:nth-child(2n) :hover .box_hover {
  top: 0;
  transition: 0.5s 0.3s;
}

#section4 .box .box_hover h3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#section4 .box .box_hover p {
  color: #fff;
  font-size: 1.2rem;
}

.pop {
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0%;
  padding: 0px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  overflow-x: hidden;
}
.pop .outline {
  width: 100%;
  margin: 0 auto;
  /* background-color: #fff; */
  text-align: center;
  height: 100%;
}
.pop img {
  width: 50%;
}

.close span {
  display: block;
  height: 1px;
  width: 50px;
  background-color: #fff;
  position: absolute;
}
.close span:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}
.close span:nth-child(2) {
  transform: rotate(-45deg);
  top: 0px;
  left: 0;
}
.close {
  position: absolute;
  top: 50px;
  right: 100px;
  display: block;
  border: none;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  text-indent: -999999px;
}
/* 반응형작업시작 */
@media screen and (min-width: 1821px) and (max-width: 1875px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 45%;
    padding: 0;
    flex-flow: column;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 602px;
  }
  #section1 .txt {
    padding-top: 5rem;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 4.8rem;
  }
  #section1 .name h4 {
    text-align: left;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  /* 1번페이지 */
}
@media screen and (min-width: 1601px) and (max-width: 1820px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 45%;
    padding: 0;
    flex-flow: column;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 602px;
  }
  #section1 .txt {
    padding-top: 5rem;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 4.8rem;
  }
  #section1 .name h4 {
    text-align: left;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  /* 1번페이지 */
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 70%;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 602px;
  }
  #section1 .txt {
    padding-top: 7rem;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 4.8rem;
  }
  #section1 .name h4 {
    text-align: left;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  #section1 .txt h4 {
    font-size: 2.9rem;
}
#section1 .txt h3 {
  font-size: 4.2rem;
}
  /* 1번페이지 */
  .skill_box .none {
    width: 24.25rem;
  }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 85%;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 575px;
  }
  #section1 .txt {
    padding-top: 7rem;
  }
  #section1 .name h2 {
    text-align: left;
    font-size: 3.8rem;
  }
  #section1 .name h4 {
    text-align: left;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  #section1 .txt h4 {
    font-size: 2.9rem;
}
  #section1 .txt h3 {
  font-size: 4.2rem;
}
  /* 1번페이지 */
  .skill_box .none {
    width: 24.25rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 979px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 85%;
    justify-content: center;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 16rem;
    flex-flow: column;
    background-image: none;
  }
  #section1 .txt {
    padding-top: 0;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 3.8rem;
  }
  #section1 .name h4 {
    text-align: center;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  #section1 .txt h4 {
    font-size: 2.9rem;
    text-align: center;
}
  #section1 .txt h3 {
    font-size: 4.2rem;
    padding-top: 0;
    text-align: center;
}
  .rive_anibox{
    width: 480px;
  }
  /* 1번페이지 */
  .skill_box .none {
    width: 22.25rem;
  }
  .sec2_infor_finaly {
    flex-flow: column;
    padding-top: 6rem;
  }
  .sec2_name {
    text-align: center;
  }
  #section2 .sec2_left .contact {
    text-align: center;
    margin-top: 3rem;
  }
  .sec2_right {
    text-align: center;
    padding-top: 3rem;
  }
  #section3 {
    margin-top: 5rem;
  }
  .sunkist {
    margin-top: 68px;
  }
  .sunkist h4 {
    text-align: center;
    margin-top: 120px;
  }
  .sunkic_img {
    width: 90%;
    margin: 0 auto;
  }
  .sunkist_left {
    flex-flow: column;
  }
  .flex_finalbox_1 {
    flex-flow: row;
    justify-content: space-around;
  }
  #section3 .btn {
    margin-block: auto;
  }
  .sunkist2 h4 {
    text-align: center;
  }
  .sunkist_left2 {
    flex-flow: column-reverse;
  }
  .sunkic_img2 {
    width: 90%;
    margin: 0 auto;
  }
  .flex_finalbox_2 {
    flex-flow: row;
    justify-content: space-around;
  }
  .sunkist2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 680px) and (max-width: 799px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 85%;
    justify-content: center;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: row;
    padding: 2rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 16rem;
    flex-flow: column;
    background-image: none;
  }
  #section1 .txt {
    padding-top: 0;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 2.8rem;
  }
  #section1 .name h4 {
    text-align: center;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  #section1 .txt h4 {
    font-size: 2.6rem;
    text-align: center;
}
  #section1 .txt h3 {
    font-size: 3.5rem;
    padding-top: 0;
    text-align: center;
}
  .rive_anibox{
    width: 289px;
    height: 787px;
  }
  /* 1번페이지 */
  .skill_box .none {
    width: 19.25rem;
  }
  .sec2_infor_finaly {
    flex-flow: column;
    padding-top: 6rem;
  }
  .sec2_name {
    text-align: center;
  }
  #section2 .sec2_left .contact {
    text-align: center;
    margin-top: 3rem;
  }
  .sec2_right {
    text-align: center;
    padding-top: 3rem;
  }
  #section3 {
    margin-top: 5rem;
  }
  .sunkist {
    margin-top: 68px;
  }
  .sunkist h4 {
    text-align: center;
    margin-top: 120px;
  }
  .sunkic_img {
    width: 90%;
    margin: 0 auto;
  }
  .sunkist_left {
    flex-flow: column;
  }
  .flex_finalbox_1 {
    flex-flow: row;
    justify-content: space-around;
  }
  #section3 .btn {
    margin-block: auto;
  }
  .sunkist2 h4 {
    text-align: center;
  }
  .sunkist_left2 {
    flex-flow: column-reverse;
  }
  .sunkic_img2 {
    width: 90%;
    margin: 0 auto;
  }
  .flex_finalbox_2 {
    flex-flow: row;
    justify-content: space-around;
  }
  .sunkist2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 679px) {
  /* 1번페이지 */
  .finaly_firstbox {
    width: 85%;
    justify-content: center;
  }
  .finaly_firstbox0 {
    display: flex;
    flex-flow: column;
    padding: 3rem 0rem;
}
  .txt_box {
    width: 100%;
    height: 16rem;
    flex-flow: column;
    background-image: none;
  }
  #section1 .txt {
    padding-top: 0;
  }
  #section1 .name h2 {
    text-align: center;
    font-size: 2.8rem;
  }
  #section1 .name h4 {
    text-align: center;
    font-size: 3.5rem;
  }
  #section1 .name {
    justify-content: center;
  }
  #section1 .txt h4 {
    font-size: 2.6rem;
    text-align: center;
}
  #section1 .txt h3 {
    font-size: 3.5rem;
    padding-top: 0;
    text-align: center;
}
  .rive_anibox{
    width: 370px;
    height: 362px;
    margin: 0 auto;
  }
  /* 1번페이지 */
  .skill_box .none {
    width: 13.25rem;
  }
  .sec2_infor_finaly {
    flex-flow: column;
    padding-top: 6rem;
  }
  .sec2_name {
    text-align: center;
  }
  #section2 .sec2_left .contact {
    text-align: center;
    margin-top: 3rem;
  }
  .sec2_right {
    text-align: center;
    padding-top: 3rem;
  }
  #section3 {
    margin-top: 5rem;
  }
  .sunkist {
    margin-top: 68px;
  }
  .sunkist h4 {
    text-align: center;
    margin-top: 0;
    font-size: 3rem;
  }
  .sunkic_img {
    width: 90%;
    margin: 0 auto;
  }
  .sunkist_left {
    flex-flow: column;
  }
  .flex_finalbox_1 {
    flex-flow: row;
    justify-content: space-around;
    padding: 6rem 0rem;
  }
  #section3 .btn {
    margin-block: auto;
  }
  .sunkist2 h4 {
    text-align: center;
    font-size: 3rem;
  }
  .sunkist_left2 {
    flex-flow: column-reverse;
  }
  .sunkic_img2 {
    width: 90%;
    margin: 0 auto;
  }
  .flex_finalbox_2 {
    flex-flow: row;
    justify-content: space-around;
    padding: 6rem 0rem;
  }
  .sunkist2 {
    margin-top: 0;
  }
  #section4 .box .box_hover h3 {
    font-size: 1rem;
  }
  .pop img {
    width: 100%;
    padding-top: 11rem;
  }
  #section4 {
    padding-top: 0rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
    /* 1번페이지 */
    .finaly_firstbox {
      width: 85%;
      justify-content: center;
    }
    .finaly_firstbox0 {
      display: flex;
      flex-flow: column;
      padding: 3rem 0rem;
  }
    .txt_box {
      width: 100%;
      height: 16rem;
      flex-flow: column;
      background-image: none;
    }
    #section1 .txt {
      padding-top: 0;
    }
    #section1 .name h2 {
      text-align: center;
      font-size: 2.8rem;
    }
    #section1 .name h4 {
      text-align: center;
      font-size: 3.5rem;
    }
    #section1 .name {
      justify-content: center;
    }
    #section1 .txt h4 {
      font-size: 2.6rem;
      text-align: center;
  }
    #section1 .txt h3 {
      font-size: 3.5rem;
      padding-top: 0;
      text-align: center;
  }
    .rive_anibox{
      width: 370px;
      height: 362px;
      margin: 0 auto;
    }
    /* 1번페이지 */
    .skill h2 {
      font-size: 2.5rem;
      font-weight: 900;
  }
    .skill_box {
      flex-flow: column;
  }
    .skill_box .none {
      width: 100%;
    }
    .sec2_infor_finaly {
      flex-flow: column;
      padding-top: 6rem;
    }
    #section2 .sec2_left .contact h2 {
      font-size: 1.5rem;
  }
    .sec2_name {
      text-align: center;
    }
    #section2 .sec2_left .contact {
      text-align: center;
      margin-top: 3rem;
    }
    .sec2_right {
      text-align: center;
      padding-top: 3rem;
    }
    #section3 {
      margin-top: 5rem;
    }
    .sunkist {
      margin-top: 68px;
    }
    .sunkist h4 {
      text-align: center;
      margin-top: 0;
      font-size: 3rem;
    }
    .sunkic_img {
      width: 90%;
      margin: 0 auto;
    }
    .sunkist_left {
      flex-flow: column;
    }
    .flex_finalbox_1 {
      flex-flow: row;
      justify-content: space-around;
      padding: 6rem 0rem;
    }
    #section3 .btn {
      margin-block: auto;
    }
    .sunkist2 h4 {
      text-align: center;
      font-size: 3rem;
    }
    .sunkist_left2 {
      flex-flow: column-reverse;
    }
    .sunkic_img2 {
      width: 90%;
      margin: 0 auto;
    }
    .flex_finalbox_2 {
      flex-flow: row;
      justify-content: space-around;
      padding: 6rem 0rem;
    }
    .sunkist2 {
      margin-top: 0;
    }
    #section4 .box .box_hover h3 {
      font-size: 1rem;
    }
    .pop img {
      width: 100%;
      padding-top: 11rem;
    }
    #section4 {
      padding-top: 0rem;
    }
    #section4 .box {
      width: auto;
  }
}
@media screen and (min-width: 350px) and (max-width: 399px) {
}
/* 반응형작업끝 */
